<%- include('Header.ejs', {title :'Dishes'}) %>
<body>

  <h1>Dishes</h1>
  <style>
    table,th,td{
      border: 1px solid;
    }
  </style>

 <table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>ImgURL</th>
    <th>price</th>
  </tr>
   <% dataDish.forEach(perDish => { %>
   <% console.log(perDish.imgURL) %>
   <tr>
    <td><%= perDish.name %></td>
    <td><%= perDish.description %></td>
    <td><img src="<%= perDish.imgURL %>" alt=""></td>
    <td><%= formatCurrency(perDish.price) %></td>
   </tr>
   <% }) %>



 </table>


 
</body>

</html>